<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Editer le vehicule</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="editForm">
                    <h6 class="heading-small text-muted mb-4">Information du vehicule</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Model</label>
                                    <input type="text" [(ngModel)]="vehicule.model" formControlName="model" class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Immatriculation</label>
                                    <input type="text" [(ngModel)]="vehicule.immatriculation" formControlName="immatriculation" class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Consomation</label>
                                    <input type="text" [(ngModel)]="vehicule.conso" formControlName="conso" class="form-control form-control-alternative">
                                </div>
                            </div>
                    
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nombre de places</label>
                                    <input type="text" [(ngModel)]="vehicule.nbPlace" formControlName="nbPlace" class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Capactité du coffre</label>
                                    <input type="text" [(ngModel)]="vehicule.capaciteCoffre" formControlName="capaciteCoffre" class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <h6 class="heading-small text-muted mb-4">Informaions complementaires</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Chauffeur</label>
                                    <select name="chauffeur" [(ngModel)]="vehicule.chauffeur">
                                        <option *ngFor="let c of chauffeurs" [ngValue]="c">
                                            {{c.nom}} {{c.prenom}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button class="btn btn-info" (click)="updateVehicule()"><i class="fa fa-dot-circle-o"></i> Editer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  