<!-- {{chauffeurs}}
<ul>
  <li *ngFor="let c of chauffeurs">{{c.nom}}</li>
</ul> -->
<!-- Dark table -->
<div class="row mt-5">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Liste des chauffeurs</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Note</th>
              <th scope="col">Modèle de voiture</th>
              <th scope="col">Agence</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of chauffeurs">
            <td>{{c.nom}}</td>
            <td>{{c.note}}</td>
            <td>{{c.vehicule.model}}</td>
            <td>{{c.agence.nomAgence}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>