<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Chauffeur de l'agence ***</h3><!--inserer le nom de l'agence du respo identifié-->
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Note</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of chauffeurs">
                    <td>{{c.nom}}</td>
                    <td>{{c.prenom}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.note}}</td>
                    <td>
                      <button class="btn btn-block btn-danger active" (click)="deleteChauffeur(c.idUtilisateur)">Delete</button>
                      <!--<button class="btn btn-block btn-primary active" (click)="editChauffeur(c.idUtilisateur)">Edit</button>-->
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="card-body">
            <form (ngSubmit)="saveChauffeur()">
                <h6 class="heading-small text-muted mb-4">Information du chauffeur</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Nom</label>
                                <input type="text" [(ngModel)]="chauffeur.nom" name="nom" class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Prenom</label>
                                <input type="text" [(ngModel)]="chauffeur.prenom" name="prenom" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input type="text" [(ngModel)]="chauffeur.email" name="email" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Username</label>
                                <input type="text" [(ngModel)]="chauffeur.username" name="username" class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input type="text" [(ngModel)]="chauffeur.password" name="password" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Informations complementaires</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Note</label>
                                <input type="number" [(ngModel)]="chauffeur.note" name="note" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Role</label>
                                <select multiple name="role" [(ngModel)]="chauffeur.roles">
                                    <option *ngFor="let r of roles" [ngValue]="r">
                                        {{r.libelle}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Vehicule</label>
                                <select name="vehicule" [(ngModel)]="chauffeur.vehicule">
                                    <option *ngFor="let v of vehicules" [ngValue]="v">
                                        {{v.model}} {{v.immatriculation}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Agence</label>
                                <select name="agence" [(ngModel)]="chauffeur.agence">
                                    <option *ngFor="let a of agences" [ngValue]="a">
                                        {{a.nomAgence}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <button class="btn btn-info"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  