<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Liste des réservations</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date de création</th>
                                <th scope="col">Date de validation</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Chauffeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let r of reservations">
                                <td>{{r.dateCreation}}</td>
                                <td>{{r.dateValidation}}</td>
                                <td>{{r.statut}}</td>
                                <td>{{chauffeurs.note}}></td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-outline-danger" (click)="deleteResa(r.idResa)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>